<!-- SECTION HERO -->
<section class="hero">
  <div class="container">
    <div class="titleBox">
      <div class="titleBox" data-animation="fade-bottom" data-delay="150">
        <h1 class="title title--h1">
          Learn to Cook
          <span class="color italic"> Tasty <br />Treats' </span>
          Customizable <br />Masterclass
        </h1>
        <p class="subtitle">TastyTreats - Customize Your Meal with Ingredient <br />Options and Step-by-Step Video Guides.</p>
        <div class="forBtn" data-animation="fade-bottom" data-delay="0">
          <button type="button" data-popup="request" class="button button">Request</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SECTION HERO END-->
